
@media (prefers-color-scheme: Dark) {
  body {
    background-color: #282639;
    color: #E0E0E0;
  }
  .navbar{
    background-color:#100d1f !important;
  }
  .container-fluid a{
    color: #E0E0E0 !important;
  }
  .headerPhoto::after {
    background: linear-gradient(to bottom, transparent,transparent, #100d1f) !important;
}
.card-description { 
  color: #E0E0E0;
  /* font-size: 1rem; */
}
.card-title {
  color: #e0e0e0;
  font-size: 1.5rem;
  margin: 10px 0;
}
.card{
  background: rgb(63 71 116 / 60%);;
}
.homecard{
  background: rgb(63 71 116 / 60%);;
}
}

@media (prefers-color-scheme: light){

  body{
    background-color: rgb(184, 175, 204);
  }
  h1{
    color: #2e3253;
  }
  .card-description { 
    color: #2e3253;
  }
  .card-title{
    color: #2e3253;
  }
  .card{
    background: rgba(201, 210, 255, 0.6);
  }
  .homecard{
    background: rgba(201, 210, 255, 0.6);
  }

}


.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 90%;
}

h1{
  margin:15vh 0 0 5vh;
}
.card {
 color: #E0E0E0;
  border-radius: 10px;
  overflow: hidden;
  width: 300px; 
  
  transition: transform 0.3s ease;
  margin: 20px auto; 
  
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.3px);
-webkit-backdrop-filter: blur(1.3px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.homecard {
  display: flex;
  flex-direction: row;
  color: #E0E0E0;
   border-radius: 10px;
   overflow: hidden;
   width: 90%; 
   transition: transform 0.3s ease;
   margin: 20px auto; 
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(1.3px);
 -webkit-backdrop-filter: blur(1.3px);
 border: 1px solid rgba(255, 255, 255, 0.3);
 
  /* display: flex; */
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Aligns items horizontally with space between */
  /* padding: 20px; */
}
.homecard div {
  flex: 1; 
    padding-left: 20px;
}
 p{
  line-height: 1.6; 
  text-align: justify;
}

 
 .homecard-img {
  width: 300px; 
  height: max-content; 
  object-fit:contain; 
}
.card:hover, .homecard:hover {
  transform: translateY(-10px);
}
.card-img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}
.card-content { 
  padding: 15px;
  text-align: center;
  /* width: 50%; */
}
.card-title {
  /* color: #2e3253; */
  font-size: 1.5rem;
  margin: 10px 0;
}
.card-description { 
  /* color: #2e3253; */
  margin: auto;
  width: 95%;
  font-size: 1rem;
}





  .navbar{
    background-color:#2e3253;
    position:sticky !important;
    z-index: 100;
    top: 0;
    margin-bottom: 10vh;
  }
  .container-fluid a{
    color:  #E0E0E0;
  }

.headerPhoto {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  object-fit: cover;

}


  .headerPhoto::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent,transparent,#2e3253) ;
  
}





@media(max-width:460px){
  .homecard{
   
    display: flex;
    flex-direction: column;
    }
    .homecard-img{
      object-fit: cover;
      width: 100%;
    }
   
}
@media(max-width:770px){
  .homecard{
   
    display: flex;
    flex-direction: column;
    }
    .homecard-img{
      object-fit: cover;
      width: 100%;
    }
}